* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.start{
  padding: 15px;
  text-align: center;
}
.link1 {
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.link {
    color: rgb(142, 112, 112);
    text-decoration: none;
}

.link:hover {
    color: rgb(235, 188, 188);
}
.link1 .active {
    color: rgb(239, 17, 17);
}
.likeIcon {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.likeIcon button {
    border: none;
    background-color: white;
}

@media (max-width: 350px) {
    .link1 {
        font-size: 17px;
        display: flex;
        flex-direction: column;
    }
  
    .spanText {
        font-size: 11px;
    }
    .searchInput {
        width: 100px;
    }
    .produktname {
        font-size: 13px;
    }
    .korp {
        font-size: 10px;
    }
}
